.suggestions {
  max-width: 230px;
  margin: 20px 0;
  overflow: hidden;

  .character {
    float: left;
    width: 26px;
    height: 26px;
    margin: 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    border-color: rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    background-color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    cursor: default;

    &.suggested {
      border-color: black;
      color: black;
      background-color: rgb(255, 236, 214);
    }

    .filled-square {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: rgb(190, 190, 190);
    }

    &.suggested .filled-square {
      background-color: black;
    }
  }
}
