.square {
  float: left;
  height: 34px;
  width: 34px;
  border: 1px solid #999;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  cursor: default;
  background: #fff;
}

.square.is-filled {
  background: rgb(0, 0, 0);
}

.board.has-focus .square.is-active {
  background: rgb(216, 222, 253);
  color: rgb(123, 131, 167);
}

.board.has-focus .square.is-filled.is-active {
  background: rgb(123, 131, 167);
}
